 
/* ====== Custom Style ====== */
/* @import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

 
body {
  /* margin: 0 auto; */
  color: #333;
  background: #eee;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}
 
.page-numbers {
  display: inline-block;
  padding: 10px;
  border: solid thin #ddd;
  text-decoration: none;
}

.custom-logo {
  /* max-width: 100px; */
  max-width: 100px;
  /* max-height: 40px;  */
  max-height: 27px; 
}

/*  Nav Menu */

/*
#menu-main-nav-menu .sub-menu {
  position: absolute;
  top: 30px;
  left: 0px; 
  display: none;
}

#menu-main-nav-menu li {
  padding: 4px ;
  border: solid thin #aaa;
  list-style: none;
  background-color: #eee;
  border-left: #eee;
}

#menu-main-nav-menu li:hover > a {
  color: #fff;
}

#menu-main-nav-menu li:hover {
  background-color: #aaa;
}

#menu-main-nav-menu li:hover .sub-menu {
  display: block;
}

#menu-main-nav-menu a {
  text-decoration: none;
}

#menu-main-nav-menu {
  display: flex;
  position: relative;
  z-index: 10;
}
*/


